<!doctype html>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="shortcut icon" type="image/x-icon" href="Uroboro.ico?">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}}); </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
	
<div class="container">
    <!-- Your content goes here -->

  <body><center>
      <!--<div id="header">-->
      <div>
        <nav id="Menu">
          <a href="{{ site.url }}"><button class="navbutton">Home</button></a>
	  <div class="dropdown"><button class="dropbtn">Research</button>
            <div class="dropdown-content">
              <a href="{{ site.url }}/research/interests">Broad Interests</a>
	      <a href="{{ site.url }}/research/inflation">Cosmic Inflation</a>
	      <a href="{{ site.url }}/research/QG">Quantum Gravity</a>
            </div>
          </div>
	  <a href="{{ site.url }}/blog"><button class="navbutton">Blog</button></a>
	  <div class="dropdown"><button class="dropbtn">Docs</button>
            <div class="dropdown-content">
	      <a href="{{ site.url }}/corner/talks">Talks</a>
              <a href="{{ site.url }}/corner/conferences">Conferences</a>
	      <a href="{{ site.url }}/posts/other">TA Notes</a>
	      <a href="{{ site.url }}/corner/templates">Templates and files</a>
	      <a href="{{ site.url }}/corner/others">Others</a>
            </div>
          </div>
	  <a href="{{ site.url }}/outreach"><button class="navbutton">Outreach</button></a>	
          <a href="{{ site.url }}/CV/CV_Gamonal2024.pdf"><button class="navbutton">CV</button></a>
	  <a href="{{ site.url }}/links"><button class="navbutton">Links</button></a>	
        </nav>

	 <section>
        <div id="title">
          <h1 style="font-weight: 500">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </div>

        {{ content }}

      </section>      

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </center>
  <footer>
		<center>
			<address>Mauricio Gamonal
			<br/> <a href="https://science.psu.edu/physics/people/mfg5767" target="_blank">PhD(c) in Physics @ Pennsylvania State University </a>
			<br/> <a href="https://scholar.google.com/citations?user=ENjqVhcAAAAJ" target="_blank" rel="noopener noreferrer"><img src="https://scholar.google.com/favicon.ico" alt="Google Scholar" width="16" height="16"> Google Scholar </a>
			 &nbsp; <a href="https://inspirehep.net/authors/1720241" target="_blank" rel="noopener noreferrer"><img src="https://inspirehep.net/favicon.ico" alt="INSPIRE" width="16" height="16"> INSPIRE </a>	
			&nbsp;  <a href="https://orcid.org/0000-0002-0677-4926" target="_blank" rel="noopener noreferrer"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID" width="16" height="16"> ORCiD</a>
			 &nbsp; <a href="http://arxiv.org/a/gamonal_m_1" target="_blank" rel="noopener noreferrer"><img src="https://static.arxiv.org/static/browse/0.3.2.8/images/icons/favicon.ico" alt="arXiv" width="16" height="16"> arXiv </a>
		  	 <br/> <a href="https://github.com/mauricio-gamonal" target="_blank" rel="noopener noreferrer"><img src="https://github.com/favicon.ico" alt="GitHub" width="16" height="16"> GitHub</a>
			 &nbsp;	<a href="https://www.instagram.com/cosmo.mauri" target="_blank" rel="noopener noreferrer"><img src="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico" alt="Instagram" width="16" height="16"> Instagram </a>
			 &nbsp; <a href="https://twitter.com/cosmo_mauri" target="_blank" rel="noopener noreferrer"><img src="https://twitter.com/favicon.ico" alt="Twitter" width="16" height="16"> Twitter</a>
			</address>
		 <hr>
          <span class="credits left"> © 2024 Mauricio Gamonal. </span>
          <span class="credits right"> Powered by <a href="https://jekyllrb.com" target="_blank">Jekyll</a>. Theme based on "Midnight", by <a href="https://twitter.com/mattgraham">mattgraham.</a> Last updated: {{ site.time | date: '%B %d, %Y' }}</span>
		</center>
	</footer>
	    <div class="wrapper">

    </div>
  </body>
	</div>
</html>
