---
layout: default
title: Publications
permalink: /research/publications/
---

<h1 style="font-size: 36px; font-weight: 700; text-align: center; margin-bottom: 25px;">
  Publications
</h1>

{% assign pubs = site.data.publications | sort: "year" | reverse %}
{% assign years = pubs | map: "year" | uniq | sort | reverse %}


{% for y in years %}
Works finished in {{ y }}

<ul class="custom-bullets">
  {% for p in pubs %}
    {% if p.year == y %}
      <li>
        {% if p.authors %}
          {{ p.authors | replace: 'M. Gamonal', '<strong>M. Gamonal</strong>' }}.
        {% endif %}

        {% if p.title %}
          <em>{{ p.title }}</em>.
        {% endif %}

        {% if p.journal %}
          {% if p.doi %}
            <a href="https://doi.org/{{ p.doi }}">
              <em>{{ p.journal }}</em>
              {% if p.volume %} {{ p.volume }}{% endif %}
              {% if p.pages %}, {{ p.pages }}{% endif %}
            </a>.
          {% else %}
            <em>{{ p.journal }}</em>
            {% if p.volume %} {{ p.volume }}{% endif %}
            {% if p.pages %}, {{ p.pages }}{% endif %}.
          {% endif %}
        {% endif %}

        {% if p.arxiv %}
          <a href="https://arxiv.org/abs/{{ p.arxiv }}">arXiv:{{ p.arxiv }}</a>.
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>


{% endfor %}
